<mat-form-field class="form-field" appearance="fill">
  <mat-label>Nome</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field class="form-field" appearance="fill">
  <mat-label>Favorito</mat-label>
  <mat-select>
    <mat-option value="one">Cristiano Ronaldo</mat-option>
    <mat-option value="two">Messi</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="form-field" appearance="fill">
  <mat-label>Comentario</mat-label>
  <textarea matInput></textarea>
</mat-form-field>
